<ion-header>
  <ion-navbar  color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Welcome to UCAL</ion-title>
  </ion-navbar>
  
</ion-header>

<ion-content padding>

    <div class="container">
        <div *ngFor="let vehicle of vehicles" (click)="itemTapped($event, vehicle)" class="item item-al">
          <img [src]="vehicle.icon">
          <p class="text-content">{{vehicle.title}}</p>
        </div>
        </div>
<!--
  <ion-list>
    <ion-item  *ngFor="let vehicle of vehicles" (click)="itemTapped($event, vehicle)">
      <ion-thumbnail item-start>
        <img [src]="vehicle.icon">
      </ion-thumbnail>
      <h3>{{vehicle.title}}</h3>
      <button ion-button clear item-end>view</button>
    </ion-item>

  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>-->
</ion-content>
